<button class="add-button" (click)="openModal()">
  + Ajouter une candidature
</button>

<app-add-candidature-modal
  [isOpen]="isModalOpen"
  (closeModal)="closeModal()"
  (candidatureAdded)="handleNewCandidature($event)">
</app-add-candidature-modal>

<div class="kanban-board">
  <app-application-column
    title="Pas de réponse"
    [candidatures]="candidaturesNoResponse">
  </app-application-column>

  <app-application-column
    title="En cours"
    [candidatures]="candidaturesInProgress">
  </app-application-column>

  <app-application-column
    title="Refusé"
    [candidatures]="candidaturesRejected">
  </app-application-column>

  <app-application-column
    title="Accepté"
    [candidatures]="candidaturesAccepted">
  </app-application-column>
</div>
