<!-- applications.component.html -->
<app-planner-header></app-planner-header>

<app-add-candidature-modal
  [isOpen]="modalState.isOpen"
  [defaultStatut]="modalState.title"
  (closeModal)="closeModal()"
  (candidatureAdded)="handleNewCandidature($event)">
</app-add-candidature-modal>

<div class="applications-layout">
  <div class="main-content">
    <!-- Kanban -->
    <div class="kanban-board" cdkDropListGroup>
      <ng-container *ngFor="let colonne of colonnes">
        <app-application-column
          [title]="colonne.titre"
          [candidatures]="colonne.candidatures"
          (candidatureMove)="onCandidatureMove($event)"
          (addCandidatureClick)="openModalForColumn($event)">
        </app-application-column>
      </ng-container>
    </div>

    <div class="charts-and-performance-row">
      <div class="main-chart-container">
        <app-spline-area-chart [colonnes]="colonnes"></app-spline-area-chart>
      </div>
      <div class="best-performances-container">
        <app-best-performances [candidatures]="toutesMesCandidatures" [topN]="3"></app-best-performances>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <app-daily-challenges></app-daily-challenges>
  </div>
</div>