<app-planner-header>

</app-planner-header>

<!--
<button class="add-button" (click)="openModal()">
  + Ajouter
</button>-->

<app-add-candidature-modal
  [isOpen]="isModalOpen"
  [defaultStatut]="modalColonneTitle"
  (closeModal)="closeModal()"
  (candidatureAdded)="handleNewCandidature($event)">
</app-add-candidature-modal>

<div class="kanban-board" cdkDropListGroup>
  <ng-container *ngFor="let colonne of colonnes">
    <app-application-column
      [title]="colonne.titre"
      [candidatures]="colonne.candidatures"
      (candidatureMove)="onCandidatureMove($event)"
      (addCandidatureClick)="openModalForColumn($event)"
      >
  </app-application-column>
  </ng-container>
</div>

<app-spline-area-chart [colonnes]="colonnes"></app-spline-area-chart>
