<div class="column">
  <div class="column-header">
    <h3 class="column-title">{{ title }}</h3>
    <button class="add-candidature-btn" (click)="addCandidature()" title="Ajouter une candidature">+</button>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="candidatures"
    (cdkDropListDropped)="onDrop($event)"
    class="candidature-list">

    <div *ngFor="let candidature of candidatures; trackBy: trackById" cdkDrag> <!-- Pensez à trackBy pour la performance -->
      <app-candidature-card [candidature]="candidature"></app-candidature-card>
    </div>

    <div *ngIf="candidatures.length === 0" class="placeholder">
      Déposez une candidature ici <br> ou cliquez sur '+' pour en ajouter une.
    </div>
  </div>
</div>